{% extends "base.html" %}
{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="header-container"
     style="background: linear-gradient(rgba(20, 20, 20, .5),rgba(20, 20, 20, .5)), url('/fimages/science') no-repeat center center/cover">
    <header class="header sticky-top">
        <div class="d-flex mx-4 justify-content-end align-items-center h-100">
            <img src="static/img/logo.png" class="d-flex logo ml-2 mr-auto">
            <div class="d-flex align-items-center justify-content-end h-100">
                <div class="user-avatar d-flex"
                     style=" background: url('https://avatars.io/twitter/{{user}}') no-repeat center / cover;"></div>
                <p class="username d-flex ml-2 mb-0">
                    @{{user}}
                </p>
            </div>
        </div>
    </header>
    <div class="search-container w-100 d-flex flex-wrap justify-content-center align-items-end">
        <div class="w-100 d-flex flex-wrap justify-content-center align-items-center">
            <h2 class="w-100 text-center m-0" style="color: #ffffff; font-size: 90px; font-weight: bold">Tweetify</h2>
            <p class="mb-1" style="color: #ffffff; font-size: 30px">tweet's finder</p>
        </div>
        <div class="w-100">
            <div class="s003 d-flex flex-wrap">
                <div class="d-flex w-100 justify-content-center">
                    <form class="cerca">
                        <div class="inner-form h-100">
                            <div class="input-field first-wrap d-flex align-items-center">
                                <div class="input-select w-100">
                                    <select id="topicList" data-trigger="" name="choices-single-defaul" required>
                                        <option placeholder="">All</option>
                                        <option>Photography</option>
                                        <option>Science</option>
                                        <option>Music</option>
                                        <option>Sport</option>
                                        <option>Politics</option>
                                        <option>Tech</option>
                                        <option>Finance</option>
                                        <option>Cinema</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field second-wrap">
                                <input class="w-100" id="search" type="text" placeholder="Search with tweetify"
                                       required/>
                            </div>
                            <div class="input-field third-wrap h-100">
                                <button class="btn-search" type="submit">
                                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                         data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center">
                    <div id="bows" class="bows-container d-flex mt-2 justify-content-center">
                        {% for bow1 in bow %}
                        <div class='bow d-flex px-3 py-2 mr-2 mt-1'>{{bow1}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Search result -->
<div class="container-fluid htlfndr-visitors-cards w-100 d-flex flex-wrap justify-content-center">
    <h2 class="text-center mb-3 w-100" style="font-weight: bold;color: #515456;">Search result</h2>
    <div id="tweets-container" class="row m-0 justify-content-start" style="padding-left: 10%; padding-right: 10%">

    </div>
    <div id="pagination-container" class="w-100 d-none justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="prev(); return false">Previous</a></li>
                <div class="mx-2 mb-0 align-self-center"><span id="currentPage"></span> of <span id="totalPage"></span>
                </div>
                <li class="page-item"><a class="page-link" href="#" onclick="next(); return false">Next</a></li>
            </ul>
        </nav>
    </div>

</div>

<!-- Other users -->
<div class="container-fluid htlfndr-categories-portfolio">
    <h2 class="text-center mb-3" style="font-weight: bold;color: #515456;">Other users</h2>
    <div class="row m-0 justify-content-center" style="padding-left: 8%; padding-right: 8%">
         {% for user1 in users %}
            <div style="padding: 3%" class="col-4">
            <div class="htlfndr-category-box" onclick="void(0)">
                <img src="https://avatars.io/twitter/{{user1}}" style="width: 350px; height: 320px"/>
                <div class="category-description">
                    <h2 class="subcategory-name">@{{user1}}</h2>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block script %}

<script src="{{ url_for('static', filename='js/choices.js') }}"></script>

<script>
    var current_page = 1;
    var max_page = 1000;
    var tweet_empty = '<div class="d-flex w-100 flex-wrap justify-content-center align-items-center mt-3">' +
        '            <img src="static/img/sad.svg" class="d-flex mb-4" style="width: 230px;">' +
        '            <h2 class="w-100 text-center m-0" style="font-size: 45px; font-weight: bold">No Result Found</h2>' +
        '            <p class="w-100 text-center m-0" style="font-size: 18px; color: #A2A2A2">We\'ve searched more than 75000 tweets<br>We' +
        '                did not find any tweets for your search</p>' +
        '        </div>';


    var tweet_element = '<div class="col-6 htlfndr-visitor-column">' +
        '            <div class="htlfndr-visitor-card">' +
        '                <div class="visitor-avatar-side">' +
        '                    <div class="visitor-avatar">' +
        '                        <img src="https://avatars.io/twitter/##target##" height="90" width="90" alt="user avatar"/>' +
        '                    </div>' +
        '                </div>' +
        '                <div class="visitor-info-side">' +
        '                    <h5 class="visitor-user-name">##author##</h5>' +
        '                    <h6 class="visitor-user-firm">##topic##</h6>' +
        '                    <h6 class="visitor-user-firm">##data##</h6>' +
        '                    <p class="visitor-user-text" data-toggle="tooltip" data-html="true" title="##tooltip##">##text##</p>' +
        '                </div>' +
        '            </div>' +
        '        </div>';

    var tweet_search = '<div class="d-flex w-100 flex-wrap justify-content-center align-items-center mt-3">' +
        '             <img src="static/img/search.svg" class="d-flex mb-4" style="width: 230px;">' +
        '             <h2 class="w-100 text-center m-0" style="font-size: 45px; font-weight: bold">Search Something</h2>' +
        '             <p class="w-100 text-center m-0" style="font-size: 18px; color: #A2A2A2">Hurry up! <br>you can search more' +
        '                than 75000 tweets</p>' +
        '        </div>';

    var tc = $('#tweets-container');
    tc.append(tweet_search);

    function next() {
        if (max_page > current_page) {
            current_page += 1;
            callSearch()
            $("html, body").animate({scrollTop: 0}, 500, 'swing');
        }
    }

    function prev() {
        if (1 < current_page) {
            current_page -= 1;
            callSearch()
            $("html, body").animate({scrollTop: 0}, 500, 'swing');
        }
    }

    $('form').submit(function (ev) {
        ev.preventDefault();
        current_page = 1;
        callSearch()
        $("html, body").animate({scrollTop: 0}, 500, 'swing');
    });

    function callSearch() {
        let postObj = {
            q: $('#search').val(),
            t: topic,
            pn: current_page
        };
        console.log(postObj)
        $.ajax({
            url: '/search',
            type: 'POST',
            data: JSON.stringify(postObj),
            contentType: 'application/json',
            processData: false,
            success: (function (data) {
                console.log(data);
                tc.html('');
                if (data && data[2] && data[2].length > 0) {
                    max_page = data[0];
                    $('#currentPage').html(current_page);
                    $('#totalPage').html(max_page);
                    $('#pagination-container').removeClass('d-none');
                    $('#pagination-container').addClass('d-flex');
                    for (let i = 0; i < data[2].length; i++) {
                        let el = data[2][i]
                        console.log(el)
                        let temp = tweet_element.replace("##author##", el['_source']['user'])
                            .replace("##topic##", el['_source']['topic'])
                            .replace("##text##", el['_source']['text'])
                            .replace("##data##", el['_source']['date'])
                            .replace("##target##", el['_source']['user'])
                            .replace("##tooltip##", el['_source']['text']);
                        tc.append(temp)
                    }
                } else {
                    $('#pagination-container').removeClass('d-flex');
                    $('#pagination-container').addClass('d-none');
                    tc.append(tweet_empty)
                }
            })
        });

    }

    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });
    const element = document.getElementById('topicList');
    var topic = $('#topicList').val();

    element.addEventListener(
        'choice',
        function (event) {
            // do something creative here...
            topic = event.detail.choice.value;
            console.log(topic)

            $('.header-container').css('background', 'linear-gradient(rgba(20, 20, 20, .5),rgba(20, 20, 20, .5)), url(\'/fimages/' + topic + '\') no-repeat center center/cover')
        },
        false,
    );


</script>

<script>
    $(function () {
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 60) {
                $(".header").addClass("active");
            } else {
                //remove the background property so it comes transparent again (defined in your css)
                $(".header").removeClass("active");
            }
        });
    });
</script>

{% endblock %}